---
layout: base
title: Home
---
<meta property="og:image" content="images/banner-01.jpg" />
<!-- Slider
================================================== -->
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      {% for banner in site.data.cms.main_big_banner %}
        <li data-fstransition="fade"
            data-transition="fade"
            data-slotamount="10"
            data-masterspeed="300">

          <img src="{{ banner.img_url }}" alt="{{ banner.img_alt }}">

          <div class="caption title sfb"
               data-x="center"
               data-y="165"
               data-speed="200"
               data-start="200"
               data-easing="easeOutExpo">
            <h2>{{ banner.title }}</h2>
          </div>

          <div class="caption text sfb"
               data-x="center"
               data-y="240"
               data-speed="200"
               data-start="400"
               data-easing="easeOutExpo">
          {{ banner.text | markdownify }}
        </div>

        <div class="caption sfb" data-x="center" data-y="370" data-speed="200" data-start="600" data-easing="easeOutExpo">
          {% for b in banner.buttons %}
            <a href="{{ b.link }}" class="slider-button">{{ b.text }}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor  %}

    </ul>
  </div>
</div>



<div class="container">
    
  <div class="nine columns">
  <div class="padding-right">
   <h3>About Csound</h3>

   <p>Csound is a sound and music computing system which was originally developed by Barry Vercoe in 1985 at MIT Media Lab. Since the 90s, it has been developed by a group of core developers. A wider community of volunteers contribute examples, documentation, articles, and takes part in the Csound development with bug reports, feature requests and discussions with the core development team. </p>    

    <p>Although Csound has a strong tradition as a tool for composing electro-acoustic pieces, it is used by composers and musicians for any kind of music that can be made with the help of the computer. Csound has traditionally been used in a non-interactive score driven context, but nowadays it is mostly used in in a real-time context. Csound can run on a host of different platforms including all major operating systems as well as Android and iOS. Csound can also be called through other programming languages such as Python, Lua, C/C++, Java, etc.</p>

    <p>One of the main principles in Csound development is to guarantee backwards compatibility. You can still render a Csound source file from 1986 on the latest Csound release, and you should be able to render a file written today with the latest Csound in 2036.</p>

    <h5 class="margin-bottom-10">See, what others do with Csound:</h5>
    <a class="button" href="/projects.html">Projects Using Csound</a>
    <a class="button" href="/listen.html">Music by Csounders</a>

    <div class="margin-bottom-40"></div>
  </div>
  </div>

  <div id="main-page-news" class="seven columns links-sidebar">
    {% if site.data.cms.main_page_side_banner.published == 1 %}
      <div id="main-page-side-banner">
        <h3>{{ site.data.cms.main_page_side_banner.title }}</h3>
        <p>{{ site.data.cms.main_page_side_banner.text | markdownify }}</p>
        <img alt="{{ site.data.cms.main_page_side_banner.img_alt }}"
             src="{{ site.data.cms.main_page_side_banner.img_url }}"/>
      </div> 
    {% else %}
      <h3>Latest News</h3>
      <ul>
        {% for post in site.categories.news limit:20 %}
          <li>{{ post.date | date_to_string }} »&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
