---
title: News
layout: sidebar_links
---

<p style="padding-left: 0.8em">This is a list of all news and projects submitted to the website. If you want to spread the word about a project you made with Csound, please, <a href="/contribute.html">send us</a> some info about it, we will be glad to publish it here!</p>

<ul id="news-roll" class="job-list full">
{% for post in site.posts %}
  {% if post.categories contains 'news' %}
    {% assign category = 'News' %}
  {% else if post.categories contains 'project' %}
    {% assign category = 'Project' %}
  {% endif %}
  <li>
    <a href="{{ post.url }}">
      <div class="job-list-content">
        <div class="job-icons">
          <span><i class="fa fa-calendar-o"></i> {{ post.date | date_to_string }}</span>
          <span><i class="fa fa-circle-o"></i> {{ category }}</span>
        </div>
        <h4>{{ post.title }}</h4>
      </div>
    </a>
  </li>

{% endfor %}
</ul>