
<p><a href="{{BASE_PATH}}/icsc2015/index.html"><img src="/images/icsc2015.png" width="220px"/></a></p>

  <h2>Links</h2>
  <ul>
    <li><a href="https://csound.github.io/docs/manual/index.html">Reference Manual</a></li>
    <li><a href="https://csound.github.io/docs/manual-fr/index.html">Reference Manual in French</a></li>
    <li><a href="https://en.flossmanuals.net/csound/index">Textbook</a></li>
    <li><a href="https://github.com/csound/csound">Sources</a></li>
    <li><a href="https://csoundjournal.com/">Journal</a></li>
    <li><a href="https://github.com/csound/csound/wiki">Wiki</a></li>
    <li><a href="https://ide.csound,com/">Web IDE</a></li>
    <li><a href="https://csoundqt.github.io/">CsoundQt</a></li>
    <li><a href="https://blue.kunstmusik.com">Blue</a></li>
    <li><a href="https://cabbageaudio.com/">Cabbage</a></li>
    <li><a href="https://csound.github.io/winxound.codeplex.com">WinXound</a></li>
    <li><a href="https://iainmccurdy.org/csound.html">McCurdy Collection</a></li>
    <li><a href="https://csounds.com/">csounds.com</a></li>
    <li><a href="https://gogins.github.io">Gogins computer music resources</a></li>
    <li><a href="https://github.com/csound/csound/issues">Report a Bug</a></li>
  </ul>

