<style type="text/css"> 

a {Century Gothic,Trebuchet MS; font-size:large}
a:link { text-decoration: none; color: navy; font-family:Century Gothic,Trebuchet MS }
a:visited { color: grey; text-decoration: none }
a:hover { text-decoration: underline }
a:active { color: navy; font-weight: 100; text-decoration: none }

p, tr, td, ul
{
font-size: 10pt;
color: #636363;
line-height: 14pt;
letter-spacing: 1pt;
vertical-align:bottom;
font-family: "Tahoma", "Verdana", arial
}

H1
{
font-size: 70pt;
color: #505050;
line-height: 4pt;
letter-spacing: 3pt;
font-weight: 100;
font-family: "Tahoma", "Verdana", arial
}

H2
{
font-size: 16pt; 
color: #505050;
line-height: 18pt;
letter-spacing: 1pt;
font-family: "Tahoma", "Verdana", arial
}

H3
{
font-size: 14pt; 
color: #505050;
line-height: 15pt;
letter-spacing: 1pt;
font-weight: normal;
font-family: "Tahoma", "Verdana", arial
}

H4
{
font-size: 13pt;
color: #505050;
line-height: 14pt;
letter-spacing: 1pt;
font-weight: normal;
font-family: "Tahoma", "Verdana", arial
}

H5
{
font-size: 10pt;
color: #505050;
line-height: 18pt;
letter-spacing: 1pt;
font-family: "Tahoma", "Verdana", arial
}

H6
{
font-size: 10pt;
color: #505050;
line-height: 18pt;
letter-spacing: 1pt;
font-family: "Tahoma", "Verdana", arial
}

b.green 
{color: green; 
font-size: 10pt; 
font-weight: 100;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

b.blue 
{color: blue;
font-size: 10pt;  
font-weight: 100;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

b.red 
{color: red;
font-size: 10pt; 
font-weight: 150;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

p.LightGray 
{
font-size: 20pt;
color: LightGray;
line-height: 2pt;
letter-spacing: 1pt;
font-weight: bold;
font-family: "Tahoma", "Verdana", arial
}

body 
{
background-color: white;
}

</style>
