<style type="text/css"> 

h1 {
    font-weight: 300;
    font-size: 2.3em;
    line-height: 1.0em;
    margin-top:  0.2em;
    margin-bottom: 0.2em;
}

h2 {
    font-weight: 500;
    font-size: 1.7em;
    line-height: 1.4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h3 {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

p {
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0.6em;
    color: #4d4d4d;
}

TD {
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 0.6em;
    color: #4d4d4d;
    font-family: "ff-dagny-web-pro", "Lucida Grande", Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "ff-dagny-web-pro", "Lucida Grande", Tahoma, Arial, sans-serif;
    font-style: normal;
}

a {
    color: #005D91;
    text-decoration: none;
    border-bottom: thin dotted #9FDCFF;
}

a:hover {
    color: #acc3d0;
    border-bottom: thin solid #CFCFCF;
    text-decoration: none;
}

a:visited {
    color: #497690;
    border-bottom: thin solid #CFCFCF;
    text-decoration: none;
}


b.green 
{color: green; 
font-size: 10pt; 
font-weight: 100;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

b.blue 
{color: blue;
font-size: 10pt;  
font-weight: 100;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

b.red 
{color: red;
font-size: 10pt; 
font-weight: 150;
text-decoration: none;
font-family: "Tahoma", "Verdana", arial
}

p.LightGray 
{
font-size: 20pt;
color: LightGray;
line-height: 2pt;
letter-spacing: 1pt;
font-weight: bold;
font-family: "Tahoma", "Verdana", arial
}

body 
{
background-color: white;
}

</style>
