body {
  font-family: 'Montserrat', sans-serif;
  color: #2A2A2A;
}

h1, h2, h3, h4 {
  color: #111;
}

h3.day {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 150%;
}

p {
  text-align: justify;
}

p.venue {
  font-size: 120%;
  text-align: left;
  margin-bottom: 1px;
}

p.day {
  font-size: 115%;
  text-align: left;
  margin-bottom: 0.2em;
}

p.hall {
  font-size: 115%;
  text-align: left;
  margin-bottom: 0;
}

p.paper {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 2em;
  text-align: left;
}

p.author {
  font-size: 115%;
  text-align: left;
}

dt {
  margin-left: 2em;
}

dd {
  margin-left: 4em;
  margin-bottom: 1em;
}

.navbar {
  background: #FFF;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 5px 20px;
  max-width: 210px;
}

.navbar-nav {
  float: right;
}

.date {
  font-size: 20px;
  margin-bottom: 0;
}

.box {
  font-size: 70%;
  border-style: solid;
  border-width: 1px;
  padding: 0 3px;
  margin-left: 1em;
}

.map {
 margin-top: 2em;
 border: 0;
 height: 450px;
 width: 60%;
}

sup {
  font-size: 60%;
}

.front-header {
  background: url('../img/Montevideo_Uruguay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #202020;
  padding: 80px 0;
  margin-bottom: 60px;
  color: #FFF;
}

.front-header h1 {
  color: #FFF;
}

.page-header {
  background: url('../img/Montevideo_Uruguay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #202020;
  padding: 50px 0;
  margin: 0;
  margin-bottom: 40px;
  color: #FFF;
}

.page-header h1 {
  color: #FFF;
}

@media (max-width: 640px) {
  .page-header {
    margin: 0;
    padding: 10px 0;
    height: 100px;
  }
}

.support .center-block {
  max-height: 80px;
}

.logo-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.logo {
    position:absolute;
    width:100%;
    margin-top: 15px;
    height: 70px;
}

@media (max-width: 640px) {
  .logo {
	height: 60px;
  }
}

@media (max-width: 480px) {
  .logo {
	height: 50px;
  }
}

.support img{
    max-height:100%;
    max-width:100%;
}

.logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    padding-bottom: 7px;
}

footer {
  background-color: #202020;
  color: #FFF;
  margin-top: 70px;
  padding: 30px 0;
}

.keynotes {
  margin-top: 3em;
  margin-bottom: 3em;
}

.keynotes dt {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.keynotes dd {
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.keynotes dd {
  margin: 0.3em 2em;
}

.keynotes p.title {
  font-size: 130%;
  font-weight: bold;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 0;
}

.keynotes p.speaker {
  font-size: 130%;
}

.keynotes img {
  width: 200px;
}


.emelogo {
  max-height: 47px;
  margin-left: 0;
}

table.fees {
  margin: 2em 0;
}

table.fees td, th {
  padding: 0.5em;
  border: 2px solid;
}


table.program_table {
  margin: 2em 0;
  width: 100%;
  border: 2px solid #00a;
}

table.program_table td {
  border: 2px solid #000000;
  padding: 1px 0.5em;
}

table.program_table th {
  padding: 0.5em;
}

table.program_list {
  width: 100%;
  margin-bottom: 2em;
}

table.program_list td {
  padding-bottom: 0.5em;
}

td.hora {
  text-align: left;
}

td.cuarto {
}

td.libre {
  background-color: #eee;
}

tr.horario td {
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

@media (max-width: 640px) {
  .emelogo {
	height: 38px;
  }

  .contact {
	font-size: 105%;
  }

  .map {
  	width: 100%
  }
}

@media (max-width: 480px) {
  .emelogo {
	height: 30px;
  }
}

.contact {
 font-size: 120%;
 color: #d2d7dc;
}

/* h1 default: 36px (257%)
 * h2 default: 30px (214%)
 * h3 default: 24px (171%)
 * h4 default: 18px (128%)
*/

@media (max-width: 640px) {
  h1 {
  font-size: 213%;
  }
  h2 {
  font-size: 187%;
  }
  h3 {
  font-size: 157%;
  }
  h4 {
  font-size: 124%;
  }

  table.program_table {
  font-size: 95%;
  }

  table.program_list {
  font-size: 95%;
  }
}

@media (max-width: 480px) {
  h1 {
  font-size: 191%;
  }
  h2 {
  font-size: 173%;
  }
  h3 {
  font-size: 150%;
  }
  h4 {
  font-size: 122%;
  }

  table.program_table {
  font-size: 90%;
  }

  table.program_list {
  font-size: 90%;
  }
}

