body {
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: justify;
}

.navbar {
  background: #FFF;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 5px 20px;
  max-width: 210px;
}

.navbar-nav {
  float: right;
}

.date {
  font-size: 20px;
  margin-bottom: 0;
}

sup {
  font-size: 60%;
}

.front-header {
  background: url('../img/Montevideo_Uruguay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #202020;
  padding: 80px 0;
  margin-bottom: 60px;
  color: #FFF;
}

.page-header {
  background: url('../img/Montevideo_Uruguay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #202020;
  padding: 50px 0;
  margin: 0;
  margin-bottom: 40px;
  color: #FFF;
}

@media (max-width: 640px) {
  .page-header {
    margin-bottom: 15px;
  }
}

.support .center-block {
  max-height: 80px;
}

.logo-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.logo {
    position:absolute;
    width:100%;
    margin-top: 15px;
    height: 70px;
}

@media (max-width: 640px) {
  .logo {
	height: 60px;
  }
}

@media (max-width: 480px) {
  .logo {
	height: 50px;
  }
}

.support img{
    max-height:100%;
    max-width:100%;
}

.logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    padding-bottom: 7px;
}

footer {
  background-color: #202020;
  color: #FFF;
  margin-top: 70px;
  padding: 30px 0;
}

.emelogo {
  max-height: 47px;
  margin-left: 0;
}

table.fees {
  margin: 2em 0;
}

table.fees td, th {
  padding: 0.5em;
  border: 2px solid;
}

table.paypal {
  margin-top: 2em;
}

table.paypal td {
  padding-bottom: 1em;
}

@media (max-width: 640px) {
  .emelogo {
	height: 38px;
  }
}

@media (max-width: 480px) {
  .emelogo {
	height: 30px;
  }
}

.contact {
 font-size: 120%;
 color: #d2d7dc;
}

@media (max-width: 640px) {
  .contact {
	font-size: 105%;
  }
}

