@font-face {
    font-family: 'Roboto Slab Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../webfonts/RobotoSlab-Bold-webfont.eot');
    src: url('../webfonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../webfonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../webfonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light');
  src: url('../webfonts/OpenSans-Light-webfont.eot');
  src: url('../webfonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-Light-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans');
  src: url('../webfonts/OpenSans-Regular-webfont.eot');
  src: url('../webfonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold');
  src: url('../webfonts/OpenSans-Semibold-webfont.eot');
  src: url('../webfonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-Semibold-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold');
  src: url('../webfonts/OpenSans-Bold-webfont.eot');
  src: url('../webfonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold');
  src: url('../webfonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../webfonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic');
  src: url('../webfonts/OpenSans-LightItalic-webfont.eot');
  src: url('../webfonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-LightItalic-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic');
  src: url('../webfonts/OpenSans-Italic-webfont.eot');
  src: url('../webfonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-Italic-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-Italic-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic');
  src: url('../webfonts/OpenSans-SemiboldItalic-webfont.eot');
  src: url('../webfonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic');
  src: url('../webfonts/OpenSans-BoldItalic-webfont.eot');
  src: url('../webfonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic');
  src: url('../webfonts/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('../webfonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
       url('../webfonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
       url('../webfonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
}
@font-face {
  font-family: 'fontello';
  src: url('../webfonts/fontello.eot?62093333');
  src: url('../webfonts/fontello.eot?62093333#iefix') format('embedded-opentype'),
       url('../webfonts/fontello.woff?62093333') format('woff'),
       url('../webfonts/fontello.ttf?62093333') format('truetype'),
       url('../webfonts/fontello.svg?62093333#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

