<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{{ page.title }} | Csound Community</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/green.css" id="colors">
<link rel="stylesheet" href="/css/custom.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
    <div class="sixteen columns">
    
        <!-- Logo -->
        <div id="logo">
            <h1><a href="/index.html"><img src="/images/cs-logo-01.png" alt="Csound" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            <ul id="responsive">


            {% if page.url == '/index.html' %}
                <li><a href="/" id="current">Home</a></li>
            {% else %}
                <li><a href="/">Home</a></li>
            {% endif %}

            {% if page.url == '/get-started.html' %}
                <li><a href="/get-started.html" id="current">Learn</a>
            {% else %}
                <li><a href="/get-started.html">Learn</a>
            {% endif %}
                    <ul>
                        <li><a href="/get-started.html">Get Started</a></li>
                        <li><a href="/frontends.html">Frontends</a></li>
                        <li><a href="/books.html">Books</a></li>
                        <li><a href="http://floss.booktype.pro/csound/preface/" target="_blank">FLOSS Manual</a></li>
                        <li><a href="http://csoundjournal.com/" target="_blank">Csound Journal</a></li>
                        <li><a href="/docs/manual/index.html" target="_blank">Reference</a></li>
                        <li><a href="/docs/api/index.html" target="_blank">API Docs</a></li>
                    </ul>
                </li>

            {% if page.url == '/create.html' %}
                <li><a href="/create.html" id="current">Create</a></li>
            {% else %}
                <li><a href="/create.html">Create</a></li>
            {% endif %}
                
            {% assign first_uri_segment = page.url | split: '/' %}

            {% if   page.url == '/community.html'   or page.url == '/news.html' or page.url == '/projects.html'    or page.url == '/listen.html' or first_uri_segment[1] == 'site' %}
                <li><a href="/community.html" id="current">Community</a>
            {% else %}
                <li><a href="/community.html">Community</a>
            {% endif %}
                    <ul>
                        <li><a href="/news.html">News</a></li>
                        <li><a href="/community.html">Get Help</a></li>
                        <li><a href="/projects.html">Projects Using Csound</a></li>
                        <li><a href="/listen.html">Music by Csounders</a></li>
                        <li><a href="http://github.com/csound/csound/issues">Report a Bug</a></li>
                        <li><a href="/contribute.html">Contribute</a></li>
                    </ul>
                </li>

            {% if page.url == '/download.html' %}
                <li><a href="/download.html" id="current">Download</a></li>
            {% else %}
                <li><a href="/download.html">Download</a></li>
            {% endif %}

            <li><a><i class="fa fa-search"></i>&nbsp; Search</a>
              <ul id="responsive">
                <li><form name="searchForm" onsubmit="return performSearch()"
                    style="padding:20px">
                    Search Terms:<br/> 
                    <input type="text" name="searchTerms"></input><br/>
                    <input type="radio" name="target" value="/" checked>Site</input> 
                    <input type="radio" name="target" value="/docs/manual">Manual</input> <br/><br/> 
                    <button type="submit">Submit</button>
                  </form>
                </li>
              </ul>
            </li>

            </ul>

        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>


            <!--<div class="search-container">-->

            <!--  [> Form <]-->
            <!--  <h2>Find job</h2>-->
            <!--  <input type="text" class="ico-01" placeholder="job title, keywords or company name" value=""/>-->
            <!--  <input type="text" class="ico-02" placeholder="city, province or region" value=""/>-->
              <!--<button><i class="fa fa-search"></i></button>-->


            <!--</div>-->
    </div>
</div>
</header>
<div class="clearfix"></div>

{{ content }}

<!-- Footer
================================================== -->
<div class="margin-top-0"></div>

<div id="footer">
    <!-- Main -->
    <div class="container">

        <div class="six columns">
            <h4></h4>
            <p>Csound is an open community of musicians, enthusiasts, DSP specialists, programmers and others. If you found a&nbsp;bug, have a proposal, feeling that you can submit some code or just want to tell us what you did with Csound—please, welcome. Every contribution is&nbsp;appreciated!</p>
            <a href="/contribute.html" class="button">Contribute to Csound</a>
        </div>

        <div class="three columns">
            <h4>Learn</h4>
            <ul class="footer-links">
                <li><a href="/about.html">What is Csound</a></li>
                <li><a href="/documentation.html">Get Started</a></li>
                <li><a href="/frontends.html">Frontends</a></li>
                <li><a href="http://floss.booktype.pro/csound/preface/" target="_blank">FLOSS Manual</a></li>
                <li><a href="http://csoundjournal.com/" target="_blank">Csound Journal</a></li>
                <li><a href="/docs/manual/index.html">Reference</a></li>
            </ul>
        </div>
        
        <div class="four columns">
            <h4>Create</h4>
            <ul class="footer-links">
                <li><a href="/create.html#music_with_timelines">Music with Timelines</a></li>
                <li><a href="/create.html#music_in_daw">Music Using Csound in a DAW</a></li>
                <li><a href="/create.html#realtime_works">Realtime Works</a></li>
                <li><a href="/create.html#desktop_apps">Desktop Applications</a></li>
                <li><a href="/create.html#android_apps">Android Applications</a></li>
                <li><a href="/create.html#ios_apps">iOS Applications</a></li>
                <li><a href="/create.html#raspberry_pi">Embedded Applications with<br> Raspberry Pi and Csound</a></li>
                <li><a href="/create.html#python">Do Scientific Computing<br> with Python and Csound</a></li>
            </ul>
        </div>      

        <div class="three columns">
            <h4>Community</h4>
            <ul class="footer-links">
                <li><a href="/news.html">News</a></li>
                <li><a href="/community.html">Get Help</a></li>
                <li><a href="/projects.html">Projects Using Csound</a></li>
                <li><a href="/listen.html">Music by Csounders</a></li>
                <li><a href="http://github.com/csound/csound/issues">Report a Bug</a></li>
            </ul>
        </div>

    </div>

    <!-- Bottom -->
    <div class="container">
        <div class="footer-bottom">
            <div class="sixteen columns">
                <div class="copyrights">Licensed under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"target="_blank">GNU Lesser General Public License</a>.</div>
            </div>
        </div>
    </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/jquery.superfish.js"></script>
<script src="/scripts/jquery.themepunch.tools.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/chosen.jquery.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/stacktable.js"></script>

<script type="text/javascript">
    (function(){
        $('pre code').each(function() {
            var sourceCode = $(this).text();
            $(this).text(sourceCode.substring(sourceCode.indexOf('\n') + 1))
        });
    })(); // FIXME dirty hack to delete first line from code blocks
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
<script src="/scripts/csound.syntax.js"></script>

</body>
</html>
