<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{{ page.title }} | Csound Community</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/green.css" id="colors">
<link rel="stylesheet" href="/css/custom.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">

<!-- Header
================================================== -->
<header>
<div class="container">
    <div class="sixteen columns">
    
        <!-- Logo -->
        <div id="logo">
            <h1><a href="/index.html"><img src="/images/cs-logo-01.png" alt="Csound" /></a></h1>
        </div>

        <!-- To edit this menu, please check the 'main_menu' item in the _data/cms.yaml file -->
        {% include main_menu.html %}

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>

    </div>
</div>
</header>
<div class="clearfix"></div>

{{ content }}

<!-- Footer
================================================== -->
<div class="margin-top-0"></div>

<div id="footer">
    <!-- Main -->
    <div class="container">

        <div class="six columns">
            <h4>About</h4>
            <p>Csound is an open community of artists, musicians, enthusiasts, DSP specialists,
            programmers and others. If you found a&nbsp;bug, have a&nbsp;proposal, feeling that you
            can submit some code or&nbsp;just want to&nbsp;tell us&nbsp;what you did with
            Csound—please, welcome. Every contribution is&nbsp;appreciated!</p>
            <a href="/contribute.html" class="button">Contribute to Csound</a>
        </div>

        {% include footer_menu.html %}

    </div>

    <!-- Bottom -->
    <div class="container">
        <div class="footer-bottom">
            <div class="sixteen columns">
                <div class="copyrights">Licensed under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"target="_blank">GNU Lesser General Public License</a>.</div>
            </div>
        </div>
    </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/jquery.superfish.js"></script>
<script src="/scripts/jquery.themepunch.tools.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/chosen.jquery.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/stacktable.js"></script>

<script type="text/javascript">
    (function(){
        $('pre code').each(function() {
            var sourceCode = $(this).text();
            $(this).text(sourceCode.substring(sourceCode.indexOf('\n') + 1))
        });
    })(); // FIXME dirty hack to delete first line from code blocks
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
<script src="/scripts/csound.syntax.js"></script>

</body>
</html>
