<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="css/github.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% include topbar.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="js/dist/app.bundle.js"></script>
    <script src="js/highlight/rainbow.js"></script>
    <script src="js/highlight/generic.js"></script>
    <script src="js/highlight/csound.js"></script>
  </body>
</html>
