---
layout: default
title: Download
permalink: /download.html
---

<!--
If you want to update the links to Csound distributions on this page,
please, do it in the 'download.yaml' file located in '_data' directory'
-->

<div class="container-full page-banner-background">
  <div class="container page-banner">
    <h1 class="display-7">{{ page.title }}</h1>
  </div>
</div>

<div class="container-full page-background">
  <div class="container">
    <div class="page download-page">
  
<!-- Binaries and installers (5 elements) -->

      <div class="row">
        <div class="col-sm-12" align="center">
          <h2>Binaries and Installers</h2>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-3" align="center">
          <i class="fa fa-4x fa-windows"></i><br/>
	      <a href="{{ site.data.download.windows_64_full.link }}">64bit Full
	       Installer {{ site.data.download.windows_64_full.ver }}</a><br/>
	      <a href="{{ site.data.download.windows_64.link }}">64bit Binaries 
           {{ site.data.download.windows_64.ver }}</a><br/>
        </div>
      
        <div class="col-sm-2" align="center">
          <i class="fa fa-4x fa-apple"></i><br/>
          <a href="{{ site.data.download.osx.link }}">MacOS
	       {{site.data.download.osx.ver }}</a><br/>
        </div>
  
        <div class="col-sm-2" align="center">
          <i class="fa fa-4x fa-linux"></i><br/>
	      <a href="{{ site.data.download.linux.debian_link }}">Debian</a>,
	      <a href="{{ site.data.download.linux.ubuntu_link }}">Ubuntu</a>,
	      <a href="{{ site.data.download.linux.fedora_link }}">Fedora</a>,
	      <a href="{{ site.data.download.linux.arch_link }}">Arch</a>
        </div>

        <div class="col-sm-2" align="center">
          <i class="fa fa-4x fa-android"></i><br/>
          <a href="{{ site.data.download.android_app.link }}">Android App</a>
        </div>

        <div class="col-sm-3" align="center">
          <i class="fa fa-4x fa-html5"></i><br/>
          <a href="{{ site.data.download.web.link }}">Web Assembly</a>
        </div>
      </div>
  
<!-- Interfaces (6 elements) -->

      <div class="row">
        <div class="col-sm-12" align="center">
          <h2>Interfaces</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2" align="center">
          <i class="fa fa-4x fa-android"></i><br/>
          <a href="{{ site.data.download.android_sdk.link }}">Android SDK</a>
        </div>
  
        <div class="col-sm-2" align="center">
          <i class="fa fa-4x fa-apple"></i><br/>
          <a href="{{ site.data.download.ios_sdk.link }}">iOS SDK</a>
        </div>

        <div class="col-sm-2" align="center">
          | <br/>
          <img src="images/pd.png" class="img-fluid" style="height:2.5em;"><br/>
          <a href="{{ site.data.download.pd.link }}">csound6~</a>
        </div>

        <div class="col-sm-2" align="center">
          <img src="images/max_bw.jpg" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.max.link }}">csound~</a><br/>
          <a href="{{ site.data.download.max_new.link }}">csound6~</a>
        </div>

        <div class="col-sm-2" align="center">
          <img src="images/python_bw.png" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.ctcsound.link }}">ctcsound</a><br/>
          <a href="{{ site.data.download.csoundengine.link }}">csoundengine</a><br/>
        </div>

        <div class="col-sm-2" align="center">
          <img src="images/unity.png" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.csoundunity.link }}">Csound Unity</a>
        </div>
      </div>


<!-- Sources Reference Archive (3 elemente) -->

      <div class="row">
        <div class="col-sm-12" align="center">
        <h2>Sources | Reference Manual | Archive</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4" align="center">
          <i class="fa fa-4x fa-file-code-o"></i><br/>
          <a href="{{ site.data.download.source.zip_link }}">Sources.zip</a><br/>
          <a href="{{ site.data.download.source.tgz_link }}">Sources.tar.gz</a>
        </div>
  
        <div class="col-sm-4" align="center">
          <i class="fa fa-4x fa-book"></i><br/>
          <a href="{{ site.data.download.manual.html_link }}">Manual HTML</a><br/>
          <a href="{{ site.data.download.manual.others_link }}">Other formats</a>
        </div>

        <div class="col-sm-4" align="center">
          <i class="fa fa-4x fa-archive"></i><br/>
          <a href="{{ site.data.download.older.link }}">Versions -> 6.06</a><br/>
          <a href="{{ site.data.download.archives.link }}">Archive</a>
        </div>
      </div>


<!-- Frontends (3 elemente) -->

      <div class="row">
        <div class="col-sm-12" align="center">
          <h2>Frontends</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4" align="center">
          <img src="images/cabbage.svg" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.cabbage.link }}">Cabbage</a>
        </div>
  
        <div class="col-sm-4" align="center">
          <img src="images/csqt.svg" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.csqt.link }}">Cabbage</a>
        </div>

        <div class="col-sm-4" align="center">
          <img src="images/blue.png" class="img-fluid" style="height:4em;"><br/>
          <a href="{{ site.data.download.blue.link }}">Cabbage</a>
        </div>
      </div>
  

<!-- Install Instructions -->

      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
