---
layout: default
title: Download
permalink: /download.html
---

<!--
If you want to update the links to Csound distributions on this page,
please, do it in the 'download.yaml' file located in '_data' directory'
-->

<div class="container-full page-banner-background">
  <div class="container page-banner">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<!-- Binaries and installers -->

<div class="container-full page-background">
  <div class="container">
    <div class="col-sm-12" align="center">
      <h1>Binaries and installers</h1>
    </div>
    
    <div class="row">
      <div class="col-sm-3" align="center">
        <i class="fa fa-4x fa-windows"></i><br/>
	    <a href="{{ site.data.download.windows_64_full.link }}">64bit Full
	     Installer {{ site.data.download.windows_64_full.ver }}</a><br/>
	    <a href="{{ site.data.download.windows_64.link }}">64bit Binaries 
         {{ site.data.download.windows_64.ver }}</a><br/>
      </div>
      
      <div class="col-sm-2" align="center">
        <i class="fa fa-4x fa-apple"></i><br/>
	    <a href="{{ site.data.download.osx.link }}">MacOS
	     {{site.data.download.osx.ver }}</a><br/>
      </div>
  
      <div class="col-sm-2" align="center">
        <i class="fa fa-4x fa-linux"></i><br/>
	    <a href="{{ site.data.download.linux.debian_link }}">Debian</a>,
	    <a href="{{ site.data.download.linux.ubuntu_link }}">Ubuntu</a>,
	    <a href="{{ site.data.download.linux.fedora_link }}">Fedora</a>,
	    <a href="{{ site.data.download.linux.arch_link }}">Arch</a>
      </div>

      <div class="col-sm-2" align="center">
        <i class="fa fa-4x fa-android"></i><br/>
        <a href="{{ site.data.download.android_app.link }}">Android App</a>
      </div>

      <div class="col-sm-3" align="center">
        <i class="fa fa-4x fa-html5"></i><br/>
        <a href="{{ site.data.download.web.link }}">WASM</a>
      </div>

    </div>
  </div>


<!-- Install Instructions -->

  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        {{ content }}
      </div>
    </div>
  </div>
</div>
