---
layout: default
---

<script type="text/javascript" src="/learn/examples/examples.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid page-banner-background">
  <div class="container page-banner">
    <h1 class="display-7">{{ page.title }}</h1>
  </div>
</div>

<div class="container-fluid page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          {{ content }}

        </div>
      </div>
    </div>
  </div>
</div>
