---
layout: default
---

<script type="text/javascript" src="/learn/examples/examples.js"></script>


<div class="container-fluid page-banner-background">
  <div class="container page-banner">
    <h1 class="display-7">{{ page.title }}</h1>
  </div>
</div>

<div class="container-fluid page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          {{ content }}
          <div id="click area" onclick="play()" style="margin-top:30px;">
<p>[First Test while developing this page:</p>
<p> Click in this area to hear a sound.]</p>
</div>

        </div>
      </div>
    </div>
  </div>
</div>
