---
layout: default
---

<script type="text/javascript" src="/learn/examples/examples.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid page-banner-background">
  <div class="container page-banner">
    <h1 class="display-7">{{ page.title }}</h1>
  </div>
</div>

<div class="container-fluid page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          {{ content }}
          <button id="play" onclick="start()"><i class="fa fa-play"></i></button>
          <button id="pause" onclick="pause()"><i class="fa fa-pause"></i></button>&nbsp;
          <a href="/learn/examples/pling.csd"><i class="fa fa-download"></i></button>
    <p>
      <textarea class="console" cols="80" rows="5" id="console">
      </textarea>
    <p>

        </div>
      </div>
    </div>
  </div>
</div>
