---
layout: default
---

<div class="container-full home-page-intro-container">
  <div class="container">
    <div class="row">
    
      <!-- left side --> 
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="home-intro">
          <p>Csound is a sound and music computing system that has its roots in the earliest of computer software, the MUSIC-N series by Max Mathews. Csound was originally released in 1986 by Barry Vercoe and it has been a part of the computer music world since. Today’s Csound works on desktop, mobile, embedded, server, and web platforms and powers music software and music-making for musicians around the world.</p>
          <div class="row text-center">
            <div class="col">
              <a href="get-started.html" class="btn btn-lg btn-secondary btn-home" >GET STARTED</a>
            </div>
            <div class="col">
              <a href="download.html" class="btn btn-lg btn-secondary btn-home">DOWNLOAD</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- right side --> 
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="home-carousel">      
          <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
    
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="https://mdw.ac.at/icsc2024/">
                  <img class="d-block img-fluid" src="images/icsc-2024-1140x620.png" alt="ICSC 2024">
                  <div class="carousel-caption d-none d-md-block">                
                    <h2>ICSC 2024 Vienna</h2>
                    <p>7th International Csound Conference<br>
                    17-20 September 2024<br>
                    University of Music and Performing Arts</p>
                  </div>
                </a>
              </div>

              <div class="carousel-item">
                <a href="examples.html">
                  <img class="d-block img-fluid" src="images/code.png" alt="Code">
                  <div class="carousel-caption d-none d-md-block">
                    <h2>Examples</h2>
                    <p>View code and listen</p></a>
                  </div>
                </a>
              </div>
              
              <div class="carousel-item">
                <a href="contribute.html">
                  <img class="d-block img-fluid" src="images/contribute.png" alt="Contribute">
                  <div class="carousel-caption d-none d-md-block">
                    <h2>Contribute</h2>
                    <p>The Csound project</p></a>
                  </div>
                </a>
              </div>      
            </div>
            
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
