---
---

<!-- Menu -->
<nav id="navigation" class="menu">
    <ul id="responsive">
    {% for item in site.data.cms.main_menu %}
        {% if item.children %}
            <li><a href="{{ item.link }}">{{ item.text }}</a>
                <ul>
                {% for child in item.children %}
                    <li><a href="{{ item.link }}">{{ item.text }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li><a href="{{ item.link }}">{{ item.text }}</a></li>
        {% endif %}   
    {% endfor %}

    <li><a><i class="fa fa-search"></i>&nbsp; Search</a>
        <ul id="responsive">
            <li><form name="searchForm" onsubmit="return performSearch()"
                style="padding:20px">
                Search Terms:<br/> 
                <input type="text" name="searchTerms"></input><br/>
                <input type="radio" name="target" value="/" checked>Site</input> 
                <input type="radio" name="target" value="/docs/manual">Manual</input> <br/><br/> 
                <button type="submit">Submit</button>
              </form>
            </li>
        </ul>
    </li>

    </ul>
</nav>