---
layout: base
---

<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="sixteen columns">
    {% if page.date %}
      <span>{{ page.date | date_to_string }}</span>
    {% endif %}
      <h2>{{ page.title }}</h2>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container margin-bottom-25">
  <!-- Recent Jobs -->
  <div class="sixteen columns">
      {{ content }}
  </div>
</div>
