---
layout: default
---

<div class="container-fluid page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
          {{ content }}
          <br />
          <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
          <br />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 text-center">
          <a class="btn btn-lg btn-secondary" href="{{ page.website }}" target="_blank">Project's website</a>
        </div>
      </div>
    </div>
  </div>
</div>
