---
layout: base
---

<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="sixteen columns">
    {% if page.date %}
      <span>{{ page.date | date_to_string }}</span>
    {% endif %}
      <h2>{{ page.title }}</h2>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container margin-bottom-25">
  <!-- Recent Jobs -->
  <div class="eleven columns">
    <div class="padding-right">
      {{ content }}
    </div>
  </div>

  <div class="five columns links-sidebar">
    <h3 class="margin-bottom-10">Links</h3>
    <p>
      <ul>
        {% for link in site.data.sidebar_links %}
          {% assign http = link.url | split: '://' | first %}
          {% if http == 'http' or http == 'https' %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
          {% else %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
  </div>
</div>