---
layout: default
---

<div class="container-fluid page-banner-background">
  <div class="container page-banner">
    <h1 class="display-7">{{ page.title }}</h1>
  </div>
</div>

<div class="container-fluid page-background">
  <div class="container">
    <div class="page">
    
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          {{ content }}
        </div>
      </div>
      
      <div class="row text-center team-caption">

        <div class="col-md-auto">
          <img src="images/team/parham.png" class="img-fluid"><br/>Parham
        </div>

        <div class="col-md-auto">
          <img src="images/team/yanina.png" class="img-fluid"><br/>Yanina
        </div>

        <div class="col-md-auto">
          <img src="images/team/santiago.png" class="img-fluid"><br/>Santiago
        </div>

        <div class="col-md-auto">
          <img src="images/team/daria.png" class="img-fluid"><br/>Daria
        </div>

        <div class="col-md-auto">
          <img src="images/team/joachim.png" class="img-fluid"><br/>Joachim
        </div>

        <div class="col-md-auto">
          <img src="images/team/joachim.png" class="img-fluid"><br/>Sahar
        </div>
        
      </div>

    </div>
  </div>
</div>
