/* Layout */

body {
  font-size: 1.2rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1em;
}

.display-7 {
  font-size: calc(1rem + 1.2vw);
  font-weight: 350;
  line-height: 1;
}

a {
  color: #990073;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #ff1ac6;
  text-decoration: none;
}

p {
  margin-bottom: 0.5rem;
}


/* Top bar */

.topbar {
  padding: 0.45rem 0 0.45rem 0;
  background-color: #333;
}

.topbar h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #ddd;
}

@media (max-width: 767.98px) {
  .topbar {
    display: none;
  }
}

.topbar-link {
  float: right;
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  padding-top: 0.22rem;
  margin-right: 1rem;
  color: #ddd;
}

.topbar-link:hover {
  text-decoration: none;
  color: #fff;
}

.topbar-link i {
  font-size: 1rem;
  position: relative;
  margin-right: 0.125rem;
}

/* Header */

header {
  padding: 0.5rem 0 0.5rem 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header .container {
  padding: 0;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}


/* Navigation */

.navbar-toggler {
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.nav-item a:hover {
  text-decoration: none;
  color: #888;
}

.nav-link {
  padding: 0.75rem 1rem 0.75rem 1rem !important;
}



/* Home Page */

.home-page-intro-container {
  background-color: #fff;
}

.home-intro {
  display: block;
  padding: 2.5rem 0 2.5rem 0;
}

@media (max-width: 767.98px) {
  .home-intro {
    padding-bottom: 0;
  }
  .home-intro .btn-success {
    width: 100%;
  }
}

.btn-home {
  margin: 1rem 1rem 0 1rem;
}

.home-carousel {
  margin: 2.5rem 0 2.5rem 0;
  border: 1px solid #bbb;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 4px;
}

.home-carousel img {
  height: 100%;
  width: 100%;
}

.home-carousel > a {
  height: 100%;
  width: 100%;
}

@media (max-width: 575.98px) {
  .home-carousel {
    display: none;
  }
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption a {
  color: #fff;
  text-decoration: none;
}



/* Page */

.page-background {
  background-color: #fff;
}

.page {
  padding: 1.875rem 0 1.875rem 0;
}


/* Page banner */

.page-banner-background {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.page-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-banner h1 {
  margin: 0;
}



/* Donwload page*/

.download-page {
  line-height:1.2em;
}

.download-page a {
  color: #000 !important;
}

.download-page a:hover {
  color: #666 !important;
}

.download-page .col {
  padding-bottom: 2rem;
}

.download-page .col-md-auto {
  padding: 2rem;
}


/* Footer */
footer {
  padding: 1.875rem 0 1.875rem 0;
  background-color: #333;
  color: #888;
}

footer a {
  color: #888;
}

footer a:hover {
  color: #fff;
}

.footer-copyright {
  float: left;
}

.footer-author {
  float: right;
}

