/* Layout */

body {
  font-size: 1.2rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1em;
}

a {
  color: #660066;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #cc0099;
  text-decoration: underline;
}

p {
  margin-bottom: 0.5rem;
}


/* Top bar */
.topbar {
  padding: 0.45rem 0 0.45rem 0;
  background-color: #333;
}

.topbar h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #ddd;
}

@media (max-width: 767.98px) {
  .topbar {
    display: none;
  }
}

.topbar-link {
  position: relative;
  float: right;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 1rem;
  color: #ddd;
}

.topbar-link:hover {
  text-decoration: none;
  color: #fff;
}

.topbar-link i {
  font-size: 1rem;
  position: relative;
  margin-right: 0.125rem;
}

/* Home Page */
.home-page-intro-container {
  background-color: #fff;
}

.home-intro {
  display: block;
  padding: 40px 0 40px 0;
  padding: 2.5rem 0 2.5rem 0;
}

@media (max-width: 767.98px) {
  .home-intro {
    padding-bottom: 0;
  }
  .home-intro .btn-success {
    width: 100%;
  }
}

.home-carousel {
  margin: 40px 0 40px 0;
  margin: 2.5rem 0 2.5rem 0;
  border: 1px solid #bbb;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 4px;
}

.home-carousel img {
  height: 100%;
  width: 100%;
}

.home-carousel > a {
  height: 100%;
  width: 100%;
}

@media (max-width: 575.98px) {
  .home-carousel {
    display: none;
  }
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption a {
  color: #fff;
  text-decoration: none;
}


.home-page-cards-background {
  background-color: #ccc;
  padding: 40px 0 40px 0;
  padding: 2.5rem 0 2.5rem 0;
}

@media (max-width: 575.98px) {
  .home-page-cards-background {
    background-color: #fff;
  }
}

.home-card {
  background-color: #fff;
  float: left;
  width: 100%;
  border: 1px solid #bbb;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 4px;
}

@media (max-width: 575.98px) {
  .home-card {
    box-shadow: none;
    border: 0px;
  }
}

.home-card img:hover {
  opacity: 0.9;
}

@media (max-width: 991.98px) {
  .home-card {
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
  }
  .home-card img {
    float: left;
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .home-card {
    padding: 0;
    padding: 0;
  }
  .home-card img {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
  }
}

.home-card .home-card-content {
  float: left;
  width: 100%;
  padding: 30px;
  padding: 1.875rem;
}

@media (max-width: 991.98px) {
  .home-card .home-card-content {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .home-card .home-card-content {
    width: 100%;
    padding: 0;
  }
}


.btn-home {
  margin: 1rem 1rem 0 1rem;
}


/* Header */
header {
  padding: 25px 0 25px 0;
  padding: 1.5625rem 0 1.5625rem 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header .container {
  padding: 0;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

/* Page */
.page-background {
  background-color: #fff;
}

.page {
  padding: 30px 0 30px 0;
  padding: 1.875rem 0 1.875rem 0;
}

/* Page banner */
.page-banner-background {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.page-banner {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.page-banner h1 {
  margin: 0;
}


/* Footer */
footer {
  padding: 30px 0 30px 0;
  padding: 1.875rem 0 1.875rem 0;
  background-color: #333;
  color: #888;
}

footer a {
  color: #888;
}

footer a:hover {
  color: #fff;
}

.footer-copyright {
  float: left;
}

.footer-facebook {
  float: right;
  font-size: 24px;
}

.footer-twitter {
  float: right;
  font-size: 24px;
  margin-right: 15px;
}

.footer-sitemap {
  float: right;
}

.footer-author {
  float: right;
}

.footer-divider:after {
  content: "-";
  color: #fff;
}

/* Components */
/* Navigation */
.navbar-toggler {
  cursor: pointer;
}

.subcategory {
  padding: 8px 15px 8px 15px !important;
  padding: 0.5rem 0.9375rem 0.5rem 0.9375rem !important;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 99;
  background-color: #eee;
  opacity: 0;
  border: 1px solid #ccc;
  transition: opacity, 1s, ease-in-out;
}

.subcategory:before, .subcategory:after {
  position: absolute;
  left: 40px;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.subcategory:after {
  top: -12px;
  border-bottom: 12px solid #eee;
}

.subcategory:before {
  top: -14px;
  border-bottom: 13px solid #ccc;
}

@media (max-width: 991.98px) {
  .subcategory {
    padding: 0 !important;
    padding: 0 !important;
    display: none;
    background: transparent;
    opacity: 1;
    position: relative;
    width: 100%;
    padding: 0;
    border: 0;
  }
  .subcategory:before, .subcategory:after {
    display: none;
  }
}

.nav-subitem {
  border-bottom: 1px solid #eee;
}

.nav-sublink {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0 4px 0 !important;
  padding: 0.25rem 0 0.25rem 0 !important;
}

.nav-sublink:hover {
  text-decoration: none;
  color: #555;
}

@media (max-width: 991.98px) {
  .nav-sublink {
    padding: 12px 0 12px 35px !important;
    padding: 0.75rem 0 0.75rem 2.1875rem !important;
  }
}

.nav-item {
  position: relative;
}

.nav-item:hover .subcategory {
  opacity: 1;
}

@media (max-width: 991.98px) {
  .nav-item {
    border-bottom: 1px solid #eee;
  }
}

.nav-link {
  display: block;
  z-index: 1;
  padding: 12px 16px 12px 16px !important;
  padding: 0.75rem 1rem 0.75rem 1rem !important;
}

@media (max-width: 991.98px) {
  .nav-link {
    padding: 12px 0 12px 0 !important;
    padding: 0.75rem 0 0.75rem 0 !important;
  }
}

@media (max-width: 991.98px) {
  .nav-link.has-subcat {
    margin-right: 58px;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav li:last-child .nav-link {
    padding: 12px 0 12px 0 !important;
    padding: 0.75rem 0 0.75rem 0 !important;
    margin-left: 0;
    background-color: transparent;
  }
}

.navbar-nav li:last-child {
  border-bottom: 0;
}

@media (max-width: 991.98px) {
  .dropdown-chevron-desktop {
    display: none;
  }
}

.dropdown-chevron-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 20px 12px 20px;
  border-left: 1px solid #eee;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .dropdown-chevron-mobile {
    display: block;
  }
}

.dropdown-chevron-mobile:after {
  font-family: FontAwesome;
  content: '\f078';
  font-size: 14px;
}

.dropdown-chevron-mobile.open:after {
  content: '\f077';
}

.subcategory.open {
  display: block;
  border-top: 1px solid #eee;
}

